@charset "UTF-8";
/* CSS Document for ex22.html */

body {
	margin: 20px;
	text-align: center;
	line-height: 140px;
	background-color: lightgreen;
}

.box {
	margin-right: auto;
	margin-left:auto;
	height:200px;
	width:400px;
	background: #1CF53C;
	border: medium black solid;
	margin-bottom: 20px;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	font-size: 1.5em;
}

.title {
	animation-duration: 2s;
	animation-name: slider;
}

.hinge {
 	animation-duration: 2s;
 	animation-name: hinge;
}

.color:hover {
	animation-duration: 4s;
	animation-name: pinkfill;
	animation-iteration-count: infinite;
}




